@import "leaflet/dist/leaflet.css";

/* "reset" */
*,
:after,
:before {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

footer,
header,
main,
nav {
  display: block
}

/* layout */

#root {
  max-width: 100vw;
  min-height: 100vh;
  font-family: system-ui;
  background-color: hsl(53, 91%, 50%);

  display: flex;
  flex-direction: column;

  & header {
    position: sticky;
    z-index: 1;
    top: 0;

    background-color: inherit;
    padding-block: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  & main {
    flex: 1;
  }

  & footer {
    padding: 1em;
  }
}

/* text */

.text {
  margin-inline: auto;
  max-width: 60ch;

  li {
    margin-left: 2em;
  }

  p+p {
    margin-top: 1em;
  }
}


/* basic elements */

.active {
  font-weight: bold;
}

p,
li {
  max-inline-size: 60ch;
}

a {
  color: hsl(53, 91%, 10%);
}


h2 {
  font-size: calc(2rem + 0.5vw);
  text-align: center;
}

h3 {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.clearance {
  position: relative;
  height: 200px;

  display: "flex";
  justify-content: "center";
  align-items: "center";

  & img {
    position: absolute;
    object-fit: contain;
    inset: 0;
  }

  & span {
    background: black;
    position: absolute;
    color: white;
  }

  & .fallback {
    font-size: 30px;
    overflow-wrap: break-word;
  }
}

@supports (width: min(100px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }
}

ol,
ul {
  &[class] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* utilities */
.center {
  text-align: center;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.atlas {
  & .leaflet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 70vh;
    transform: translate(-50%, -50%);
  }

  & .title {
    text-align: center;
    color: red;
  }
}