:root {
  /* needs to be referenced both in body and header*/
  --color-primary: hsl(53, 91%, 50%);
}

/* use better box sizing https://every-layout.dev/rudiments/boxes/#the-box-sizing-property */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  font-family: system-ui;
  /* remove default margin https://browserdefaultstyles.com/#body */
  margin: 0;
}

footer,
header,
main,
nav {
  display: block
}

/* layout */

#root {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  & header {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;

    padding-block: 1em;
    gap: 1em;

    background-color: var(--color-primary);
  }

  & main {
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  & footer {
    padding: 1em;
  }
}

/* the atlas */

& .atlas {
  flex: 1;
  min-height: 50px;
}

/* text */

.text {
  margin-inline: auto;
  max-width: 60ch;

  li {
    margin-left: 2em;
  }

  p+p {
    margin-top: 1em;
  }
}


/* basic elements */

.active {
  font-weight: bold;
}

p,
li {
  max-inline-size: 60ch;
}

a {
  color: hsl(53, 91%, 10%);
}


h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: calc(2rem + 0.5vw);
  text-align: center;
}

h3 {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.clearance {
  position: relative;
  height: 200px;

  display: "flex";
  justify-content: "center";
  align-items: "center";

  & img {
    position: absolute;
    object-fit: contain;
    inset: 0;
  }

  & p {
    margin: 0;
  }

  & span {
    background: black;
    position: absolute;
    color: white;
  }

  & .fallback {
    font-size: 30px;
    overflow-wrap: break-word;
  }
}

@supports (width: min(100px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }
}

ol,
ul {
  &[class] {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

/* utilities */
.center {
  text-align: center;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}